.page {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    transition: transform 0.5s ease-out;
}

.page-enter {
    transform: translateX(100%);
}

.page-current {
    transform: translateX(0);
}

.page-exit {
    transform: translateX(-100%);
}
